html, body {
    place-items: center;
}

#game-board {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#turn-info-container,
#remaining-words-container {
    font-size: 1.5rem;
    color: white;
}

.form-switch-lg {
    padding-left: 3.5rem;
}

.form-switch-lg .form-check-input {
    width: 3rem;
    height: 1.5rem;
    margin-left: -3.5rem;
    margin-top: 0;
}

#timer {
    font-family: 'Orbitron', sans-serif;
    width: 3rem;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.80em;
    outline: none;
    animation: glowing-tubelight 5s linear infinite;
}

@keyframes glowing-tubelight {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
        color: #fff;
        text-shadow: 0 0  10px #03bcf4,
                     0 0  20px #03bcf4,
                     0 0  40px #03bcf4,
                     0 0  80px #03bcf4,
                     0 0 160px #03bcf4;
    }
}