body {
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
    height: 100vh;
}

#game-board {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#turn-info-container,
#remaining-words-container {
    font-size: 1.5rem;
    color: white;
}

#options {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}