html, body {
    place-items: center;
}

.board-size-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.board-size-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.board-size-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.board-size-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#turn-info-container,
#remaining-words-container {
    font-size: 1.5rem;
    color: white;
}

.form-switch-lg {
    padding-left: 3.5rem;
}

.form-switch-lg .form-check-input {
    width: 3rem;
    height: 1.5rem;
    margin-left: -3.5rem;
    margin-top: 0;
}

#timer {
    font-family: 'Orbitron', sans-serif;
    width: 3rem;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    letter-spacing: 10px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.80em;
    outline: none;
}

.btn-neutral {
    color: #f8fdff;
    background-color: #d3bfaf;
    border-color: #d3bfaf;
}

.btn-neutral.unflipped:hover {
    color: #f8fdff;
}

.btn-neutral.unflipped {
    background-color: #d3bfaf40;
}

.btn-danger.unflipped {
    background-color: #dc354540;
}

.btn-primary.unflipped {
    background-color: #007bff40;
}

.btn-dark.unflipped {
    background-color: #343a4040;
}

.btn-success.unflipped {
    background-color: #21883840;
}

.btn-warning.unflipped {
    color: #f8fdff;
    background-color: #ffc10740;
}

.btn-info.unflipped {
    color: #f8fdff;
    background-color: #17a2b840;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.btn.tile {
    transition: .1s;
}

.btn.tile:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ccc;
}

.btn.tile.btn-dark.unflipped {
    background-image: url("../images/skull.svg");
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.btn.tile.btn-addtime {
    background-image: url("../images/stopwatch.svg");
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: 2% 50%;
}